extends ../mixins/layout

block content
  .calendar-container
    h1 LIVE
    #calendar

block scripts
  script(src='../fullcalendar/lib/jquery.min.js')
  script(src='../fullcalendar/lib/moment.min.js')
  script(src='../fullcalendar/fullcalendar.min.js')
  script(src='fullcalendar/gcal.min.js')
  script(src='js/calendar.js') 

       