include social

mixin footer
  footer
   .container
    .newsletter
      +line
      .content
        h3 JOIN THE NEWSLETTER
        p Stay up to date on new content and&nbsp;concert&nbsp;dates
        input(placeholder='Please enter your e-mail')
        button SIGN UP
    .social-media
      +line
      .content
        h3 FOLLOW RX
        .button-row
          +social