doctype html
html
  head
    title RX
    meta(charset='utf-8')
    link(rel="stylesheet", href="/styles/styles.css")
  body
    footer
      .container
        .newsletter
          h3 JOIN THE NEWSLETTER
          p Stay up to date on new content and concert dates
          input(placeholder='Please enter your e-mail')
          button SIGN UP
        .social-media
          h3 FOLLOW RX
          .button-row
            