include line
include social

mixin nav
  nav
    a(href='/')
      img(src='/images/logoWhite.png')
    input#menu(type='checkbox')
    label#hamburger(for='menu')
      .patty
      .patty
      .patty
    ul
      li
        a(href='/') HOME
      li
        a(href='/about') ABOUT
      li
        a(href='/contact') BOOKING/CONTACT
      li
        a(href='/music') MUSIC
      li
        a(href='/calendar') CALENDAR
      li
        a(href='/setlist') SET LIST LIBRARY
    +social
    +line