@import 'variables'
@import 'mixins'

// Contact styles
.contact
  padding-top 75px
  min-height calc(100vh - 392px)
  display flex
  justify-content center
  align-items center
  width 100%
  .info
    width 100%
    color $white
    text-align center
    padding 0 4%
    h1
      font-size 38px
      font-family $montserratBold
      padding-bottom $mediumPadding
    p, h4, li
      font-family $ralewayLight
      font-size 20px
    h4
      font-size 24px
      padding $mediumPadding 0
      text-decoration underline
    .button-row
      display none
      justify-content center
    .social-bar
      .line
        lineVert(10px)

        padding 0
        margin 0
      ul
        display flex
        justify-content center
        li
          font-size 16px
          padding 0 10px

// Media Queries
.contact
  +mQ(650px)
    padding-top 60px
    .info
      padding 60px 4%
      h1
        font-size 32pxd
      p
        font-size 18px
      h4
        font-size 18px
      .button-row
        display flex
    .social-bar
      display none
