// Font Imports
@font-face
  font-family ralewayLight
  src url(/fonts/raleway-light.ttf)
@font-face
  font-family ralewayBold
  src url(/fonts/raleway-bold.ttf)
@font-face
  font-family montserratBold
  src url(/fonts/montserrat-bold.ttf)

// Breakpoints
$desktopSmall = 1200px
$tablet = 960px
$mobile = 500px

// Global Spacing
$sectionPadding = 100px 0
$sectionPaddingMobile = 50px
$smallPadding = 15px

// Colors
$blue = #133468
$grey = #101010
$black = #040404
$red = #350D0D
$white = #EDEDED

// Fonts
$ralewayLight = ralewayLight
$ralewayBold = ralewayBold
$montserratBold = montserratBold




