// Font Imports
@font-face
  font-family ralewayLight
  src url('/fonts/raleway-light.ttf')

@font-face
  font-family ralewayItalic
  src url('/fonts/raleway-italic.ttf')

@font-face
  font-family ralewayMedium
  src url('/fonts/raleway-medium.ttf')

@font-face
  font-family ralewayBold
  src url('/fonts/raleway-bold.ttf')

@font-face
  font-family ralewayExtraBold
  src url('/fonts/raleway-extrabold.ttf')

@font-face
  font-family montserratBold
  src url('/fonts/montserrat-bold.ttf')

// Breakpoints
$desktopSmall = 1400px
$tablet = 960px
$mobile = 500px
// Global Spacing
$sectionPadding = 100px 0
$sectionPaddingMobile = 60px 4%
$smallPadding = 15px
$mediumPadding = 40px
$largePadding = 60px
$xLargePadding = 100px
// Colors
$blue = #133468
$grey = #111111
$black = #040404
$red = #350D0D
$white = #d2d2d2
// Fonts
$ralewayLight = ralewayLight
$ralewayItalic = ralewayItalic
$ralewayMedium = ralewayMedium
$ralewayBold = ralewayBold
$ralewayExtraBold = ralewayExtraBold
$montserratBold = montserratBold
// Transitions
$slow = .35s
$fast = .1s
