@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
.about h1 {
  color: #d2d2d2;
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
footer {
  z-index: -1;
  width: 100%;
  background: #111;
  padding: 100px 3%;
}
footer .container {
  display: flex;
  max-width: 960px;
  margin: auto;
  justify-content: space-between;
}
footer .container .newsletter,
footer .container .social-media {
  padding: 0 15px;
  color: #d2d2d2;
  display: flex;
}
footer .container .newsletter p,
footer .container .social-media p {
  font-family: ralewayLight;
  padding: 15px 0;
}
footer .container .newsletter .line {
  max-height: 96px;
  display: flex;
  margin-right: 20px;
}
footer .container .newsletter .line .left {
  border-left: 0px solid transparent;
  border-top: 96px solid transparent;
  border-right: 3px solid #350d0d;
  border-bottom: 96px solid transparent;
}
footer .container .newsletter .line .right {
  border-right: 0px solid transparent;
  border-top: 96px solid transparent;
  border-left: 3px solid #350d0d;
  border-bottom: 96px solid transparent;
}
footer .container .social-media .line {
  max-height: 46px;
  display: flex;
  margin-right: 20px;
}
footer .container .social-media .line .left {
  border-left: 0px solid transparent;
  border-top: 46px solid transparent;
  border-right: 3px solid #350d0d;
  border-bottom: 46px solid transparent;
}
footer .container .social-media .line .right {
  border-right: 0px solid transparent;
  border-top: 46px solid transparent;
  border-left: 3px solid #350d0d;
  border-bottom: 46px solid transparent;
}
footer .container input {
  width: 100%;
  padding: 15px 0 15px 10px;
  font-size: 18px;
  margin-bottom: 15px;
}
@media (max-width: 800px) {
  footer {
    padding: 60px 4%;
  }
  footer .container {
    display: block;
  }
  footer .container .newsletter,
  footer .container .social-media {
    padding: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  footer .container .newsletter .line,
  footer .container .social-media .line {
    display: none;
  }
  footer .container .newsletter {
    margin-bottom: 60px;
  }
  footer .container .social-media .content .button-row a {
    margin: 15px 7.5px;
  }
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
.album-container {
  display: flex;
  justify-content: center;
}
.music {
  color: #d2d2d2;
}
.music .album:not(:last-child) {
  padding-bottom: 100px;
}
.music .albums {
  padding: 100px 3%;
  font-family: ralewayLight;
  display: inline-block;
}
.music .albums .album {
  display: flex;
  align-content: center;
}
.music .albums .album h2 {
  font-size: 32px;
}
.music .albums .album h4 {
  font-size: 22px;
  padding: 10px 0 25px 0;
}
.music .albums .album ul {
  font-size: 20px;
}
.music .albums .album ul li {
  padding-bottom: 10px;
}
.music .albums .album .desc {
  margin-left: 25px;
}
.music .albums .album .desc .line {
  display: flex;
  padding-bottom: 25px;
}
.music .albums .album .desc .line .left {
  border-left: 0px solid transparent;
  border-top: 3px solid transparent;
  border-right: 40px solid #350d0d;
  border-bottom: 3px solid transparent;
}
.music .albums .album .desc .line .right {
  border-right: 0px solid transparent;
  border-top: 3px solid transparent;
  border-left: 40px solid #350d0d;
  border-bottom: 3px solid transparent;
}
.music .albums .album .desc .listen-links {
  display: flex;
  padding-top: 25px;
}
.music .albums .album .desc .listen-links a {
  width: 30px;
  margin-right: 10px;
}
.music .music-header {
  position: relative;
  overflow-x: hidden;
}
.music .music-header img {
  width: 100%;
}
.music .music-header h1 {
  position: absolute;
  top: calc(50% - 73.5px);
  font-size: 125px;
  letter-spacing: 25px;
  width: 100%;
  text-align: center;
  font-family: ralewayExtraBold;
}
.music .music-header .line {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 1.5px;
}
.music .music-header .line .left {
  border-left: 0px solid transparent;
  border-top: 3px solid transparent;
  border-right: 50vw solid #350d0d;
  border-bottom: 3px solid transparent;
}
.music .music-header .line .right {
  border-right: 0px solid transparent;
  border-top: 3px solid transparent;
  border-left: 50vw solid #350d0d;
  border-bottom: 3px solid transparent;
}
@media (max-width: 1400px) {
  .music .music-header h1 {
    font-size: 96px;
    top: calc(50% - 56px);
  }
}
@media (max-width: 960px) {
  .music .album-container .albums {
    padding: 60px 4%;
  }
  .music .album-container .albums .album:not(:last-child) {
    padding-bottom: 60px;
  }
  .music .album-container .albums .album {
    display: block;
  }
  .music .album-container .albums .album img {
    width: 100%;
  }
  .music .album-container .albums .album .desc {
    margin: 15px 0 0 0;
  }
  .music .album-container .albums .album .desc h2 {
    font-size: 26px;
  }
  .music .album-container .albums .album .desc h4 {
    font-size: 20px;
    padding: 10px 0 25px 0;
  }
  .music .album-container .albums .album .desc ul {
    font-size: 18px;
  }
  .music .album-container .albums .album .desc ul li {
    padding-bottom: 10px;
  }
  .music .music-header img {
    width: 960px;
  }
  .music .music-header h1 {
    font-size: 64px;
    top: calc(50% - 37.5px);
    left: 3%;
  }
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
nav {
  width: 100%;
  height: 75px;
  background: #111;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .button-row {
  position: absolute;
  right: 0;
  top: 0;
}
nav img {
  width: 70px;
  margin-right: 15px;
}
nav #menu {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9999;
}
nav #hamburger {
  position: absolute;
  top: calc(50% - 13px);
  right: 20px;
  z-index: 9999;
  color: #d2d2d2;
  display: none;
  transition: 0.35s;
}
nav #hamburger .patty {
  width: 7px;
  height: 7px;
  background: #d2d2d2;
  margin: 0px 2px;
  border-radius: 7px;
}
nav ul {
  z-index: 9999;
  display: flex;
  height: 100%;
  font-family: ralewayBold;
  letter-spacing: 3px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin: 0 15px;
}
nav .line {
  display: flex;
  position: absolute;
  bottom: -1.5px;
}
nav .line .left {
  border-left: 0px solid transparent;
  border-top: 3px solid transparent;
  border-right: 50vw solid #350d0d;
  border-bottom: 3px solid transparent;
}
nav .line .right {
  border-right: 0px solid transparent;
  border-top: 3px solid transparent;
  border-left: 50vw solid #350d0d;
  border-bottom: 3px solid transparent;
}
@media (max-width: 1400px) {
  nav .button-row {
    display: none;
  }
}
@media (max-width: 960px) {
  nav {
    display: block;
    height: 60pX;
  }
  nav img {
    margin: 15px 0 0 15px;
    width: 45px;
  }
  nav #hamburger {
    display: flex;
    padding: 10px 0;
  }
  nav #menu:checked ~ ul {
    transform: translateX(0);
  }
  nav #menu:checked ~ #hamburger {
    transform: rotate(270deg);
  }
  nav ul {
    position: absolute;
    top: 0;
    padding-top: calc(50vh - 161px);
    width: 100%;
    background: #111;
    z-index: 10;
    height: 100vh;
    display: block;
    transform: translateX(-100%);
    transition: 0.35s;
  }
  nav ul li {
    text-align: center;
    margin: 0;
    padding: 15px;
  }
}
@font-face {
  font-family: ralewayLight;
  src: url("/fonts/raleway-light.ttf");
}
@font-face {
  font-family: ralewayItalic;
  src: url("/fonts/raleway-italic.ttf");
}
@font-face {
  font-family: ralewayBold;
  src: url("/fonts/raleway-bold.ttf");
}
@font-face {
  font-family: ralewayExtraBold;
  src: url("/fonts/raleway-extrabold.ttf");
}
@font-face {
  font-family: montserratBold;
  src: url("/fonts/montserrat-bold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #040404;
}
button {
  border-style: none;
  font-family: ralewayBold;
  color: #d2d2d2;
  background: #350d0d;
  min-width: 125px;
  padding: 15px 0;
  letter-spacing: 1px;
}
h3 {
  font-family: montserratBold;
  font-size: 22px;
}
a {
  text-decoration: none;
  color: #d2d2d2;
}
li {
  list-style: none;
}
.button-row {
  display: flex;
}
.button-row a {
  width: 40px;
  height: 40px;
  margin: 15px 15px 0 0;
}
.button-row a img {
  max-width: 40px;
}
