@import 'modules/*'

// Global Styles
*
  margin 0px
  padding 0px
  box-sizing border-box

body
  background $black
  // X-overflow bug on music page. Temporary solution until cause is found
  overflow-x hidden !important

button
  cursor pointer
  border-style none
  font-family $ralewayBold
  color $white
  background $red
  padding $smallPadding 0
  letter-spacing 1px

h3
  font-family $montserratBold
  font-size 22px

a
  text-decoration none
  color $white

li
  list-style none

.button-row
  display flex
  a
    width 40px
    height 40px
    margin 0 $smallPadding 0 0
    img
      max-width 40px
