@import 'modules/*';

// CSS Resets
* 
  margin 0px
  padding 0px
  box-sizing border-box

// Global Styles
body
  background $black
button
  border-style none
  font-family $ralewayBold
  color $white
  background $red
  min-width 125px
  padding $smallPadding 0
  letter-spacing 1px
h3
  font-family $montserratBold
  font-size 22px

